/area_of_circle.py
/caeser-cipher.py
/factorial.py
/fibonacci.py
/fizzbuzz.py
/For Print and use
/lambda.py
/newscorp_wala.py
/Python+Syntax+Cheat+Sheet+Booklet+v2.pdf
/random list manupilation.py
/reverse_string.py
/segregate.py
/start_pyramid.py
/Test.py
/test1.py
/__pycache__